<h1>oauth sample</h1><br>
<h1>Link to got token <a href="/dialog/authorize?redirect_uri=http://localhost:3000&response_type=code&client_id=abc123">'http://localhost:3000/dialog/authorize?redirect_uri=http://localhost:3000&response_type=code&client_id=abc123'</a></h1><br>

<h1>Check permisson with token <a href="http://localhost:3000/api/userinfo?access_token=<%= token %>">"http://localhost:3000/userinfo?access_token=<%= token %>"</a></h1><br>

