<form action="/oauth/token" method="POST">
<input name="code" id="code" placeholder="code" width="100px" value="<%= code %>" /><br>
<input name="redirect_uri" id="redirect_uri" placeholder="redirect_uri" width="100px" value="http://localhost:3000" /><br>
<input name="client_id" id="client_id" placeholder="client_id" width="100px" value="abc123" /><br>
<input name="client_secret" id="client_secret" placeholder="client_secret" width="100px" value="ssh-secret" /><br>
<input name="grant_type" id="grant_type" placeholder="grant_type" width="100px" value="authorization_code" /><br>
<input type="submit"/>
</form>

